.navbar {
  background-color: rgba(18, 35, 20, 0.864); /* Dark background color */
  color: white; /* Text color */
  padding: 1rem; /* Adjust padding */
  position: sticky;
  top: 0;
  z-index: 50; /* Make navbar sticky */
  width: 100%; /* Ensure full width */
}

.navbar ul {
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align items to the right */
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove bullets */
  flex-wrap: wrap; /* Wrap items on smaller screens */
}

.navbar a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  margin: 0 1rem; /* Space between links */
}

.navbar a:hover {
  color: antiquewhite; /* Change color on hover */
}

.navbar li {
  margin: 0 1rem; /* Space between links */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  text-transform: uppercase; /* Make text capitalized */
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem; /* Reduce padding on mobile */
  }

  .navbar ul {
    flex-direction: column; /* Stack links vertically on mobile */
    align-items: center; /* Center the links */
  }

  .navbar li {
    margin: 0.5rem 0; /* Space links vertically on mobile */
  }

  .nav-link {
    font-size: 1rem; /* Reduce font size on mobile */
  }
}
